<div>
  <form (ngSubmit)="onSubmit()" #formInfo="ngForm">
    <div>
      <label for="username">UserName</label>
      <input 
      type="text" 
      id="username"
      ngModel
      name="username"
      required
      >
    </div>

    <button type="button" (click)="suggestUserName()">Suggest an UserName</button>

    <div>
      <label for="email">Mail</label>
      <input 
        type="email" 
        id="email"
        ngModel
        name="email"
        required
        #email="ngModel"
        >
    </div>
    <p *ngIf="email.invalid && email.touched">Email address is required</p>
    <div>
      <label for="secret">Secret Questions</label>
      <select 
        name="secretQuestion" 
        id="secret"
        [ngModel] = secretQuestion
        >        
        <option value="pet">Your first pet?</option>
        <option value="teacher">Your first teacher?</option>
      </select>
    </div>
    <div>

   <textarea name="secretQuestionAnswer" 
      cols="30" 
      rows="3"
      [(ngModel)] = "answer"
      required
      >
    </textarea>
    </div>
    <p>Reply : {{answer}}</p>
    <div>
      <input type="radio" ngModel name="gender" value="male" required>Male<br>
      <input type="radio" ngModel name="gender" value="female" required>Female<br>
      </div>
    <button [disabled]=!formInfo.valid>Submit</button>    
    <button type="button" (click)="resetForm()"> Reset Form</button>
  </form>
  <div *ngIf="submitted">
    <hr>
    <h3>User Data</h3>
    <p>User Name {{this.user.name}}</p>
    <p>Email Address {{this.user.email}}</p>
    <p>SecretQuestion {{this.user.secretQuestion}}</p>
    <p>Answer {{this.user.answer}}</p>
    <p>Gender {{this.user.gender}}</p>    
  </div>
</div>